:root{
  background-color: black;
}
@font-face {
  font-family: 'pixel';
  src: url('/fonts/Pixeled.ttf') format('truetype'); 
}

body, h1, h2, h3, h4, p, button {
  font-family: 'pixel', sans-serif;
}

body {
  font-family: 'pixel', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}